{% extends 'layouts/master.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="login-box">
    <div class="login-logo">
        <b>{{ project_settings.site_name }}</b> Admin
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Sign in to start your session</p>

            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% if form.non_field_errors %}
                {{ form.non_field_errors }}
                {% endif %}

                {% for field in form %}
                {{ field.errors }}
                {% endfor %}
            </div>
            {% endif %}

            <form method="post" autocomplete="off">
                {% csrf_token %}

                <div class="input-group mb-3">
                    {% render_field form.username class='form-control' placeholder=form.username.label %}
                    <!-- <input type="text" class="form-control" name="username" placeholder="Username"> -->
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    {% render_field form.password class='form-control' placeholder=form.password.label %}
                    <!-- <input type="password" class="form-control" name="password" placeholder="Password"> -->
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <p class="mb-1">
                <a href="{% url 'manage:auth/forgot_password' %}">I forgot my password</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->
{% endblock %}